### Symfony template

/app/config/parameters.yml
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/

/build/*
!build/.php_cs
!build/checkstyle.xsl
!build/phpcs.xml
!build/phpmd.xml

/bin/*
!bin/console
!bin/symfony_requirements

### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/*

## File-based project format:
*.iws

### Skipper
/*.skipper

### Composer
/auth.json
